<!DOCTYPE html>
<html lang="en">
<%- include("./partials/_head", { stylesheets: ["restaurants"] })  %>
<body>
<%- include("./partials/_header")  %>
<%- include("./partials/_aside")  %>
<main>
    <h1>Recommended restaurants</h1>
    <% if (restaurants.length) { %>
    <p>Find your next favorite restaurants with help of our other users!</p>
    <p>We found <%= restaurants.length %> restaurant(s).</p>
    <% } else { %>
    <p>Unfortunately, we have nothing to recommend you, yet. You can be the first one to <a href="/recommend">recommend</a> us a restaurant!</p>
    <% } %>
    <form action="/restaurants" method="GET">
        <input type="hidden" value="<%= order %>" name="order">
        <button class="button" type="submit">Change order</button>
    </form>
    <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %>
            <%- include("./partials/restaurants/_restaurant.ejs", { restaurant })  %>
        <% } %>
    </ul>
</main>
</body>
</html>
