<li>
    <article class="cart-item">
        <div class="cart-item-information">
            <h2><%= item.product.title %>
            </h2>
            <p>$<span class="cart-item-information-total"><%= item.total.toFixed(2) %></span><span class="cart-item-information-price">($<%= item.product.price.toFixed(2) %>)</span></p>
        </div>
        <form class="cart-item-management" data-id="<%= item.product.id %>" data-csrf="<%= locals.csrf %>">
            <input type="number" name="quantity" id="quantity" value="<%= item.quantity %>" min="0" required>
            <button class="button button-alternative">Update</button>
        </form>
    </article>
</li>